# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Melos
.melos_tool/
pubspec_overrides.yaml
melos_*.iml

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Coverage
coverage/
